<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <include resource="org/springframework/boot/logging/logback/file-appender.xml" />

    <property name="METRICS_LOG_FILE" value="${logging.file.metrics:-${LOG_PATH:-logs}/lettuce-test-app-metrics.log}"/>
    <appender name="METRICS_FILE" class="ch.qos.logback.core.FileAppender">
        <file>${METRICS_LOG_FILE}</file>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>${FILE_LOG_CHARSET}</charset>
        </encoder>
    </appender>

    <logger name="io.micrometer.core.instrument.logging" level="DEBUG" additivity="false">
        <appender-ref ref="METRICS_FILE"/>
        <appender-ref ref="CONSOLE"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>
</configuration>